version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directories:
      - "/"
      - "/build/*"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "mysql"
        versions:
          - ">= 8.5"
    groups:
      all:
        patterns:
          - "*"

