name: integration-test
on:
  push:
    branches:
    - main
    - release-**
  pull_request:
    branches:
    - main
    - release-**
jobs:
  build:
    name: Integration Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25.6
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Integration Test
      run: make integration-test
