name: upgrade-vitess-dependency

on:
  # Triggers the workflow every week
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  upgrade-vitess-dep:
    name: Upgrade Vitess Dependency
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18.5

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Go Get latest Vitess Dependency
        run: go get -d vitess.io/vitess@main

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "upgrade vitess dependency to latest"
          signoff: true
          delete-branch: true
          title: "Upgrade Vitess Dependency to Latest"
          body: "Weekly Vitess dependency upgrade running on a cron schedule"
          reviewers: |
            frouioui
            GuptaManan100
